<!doctype html>
<html lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head th:replace="common/layout::header( ~{::title})">
    <title id="title">编辑</title>
</head>

<body>
<div class="ui container" style="margin-top:10px;width: 95%">
    <form th:action="@{/bigJdChannelConfig/edit}" id="editForm" name="editForm" class="ui form" method="post">
        <div class="field">
            <div class="two fields">
                <div class="field required">
                    <input name="id" id="id" type="hidden" th:value="${bigJdChannelConfig.id}">
                    <label>编码:</label>
                    <input class="easyui-textbox" disabled="disabled" type="text" name="code" th:value="${bigJdChannelConfig.code}" style="width: 150px;height: 24px;"/>
                </div>
                <div class="field required">
                    <label>电商平台：</label>
                    <span class="selectBox">
                        <select id="ebpCode" class="form-select" name="ebpCode"
                                style="width: 150px;height: 24px;">
                            <option value=""></option>
                            <option th:each="platform : ${platformList}" th:text="${platform.name}"
                                    th:selected="${bigJdChannelConfig.ebpCode == platform.code}"
                                    th:value="${platform.code}" th:otherFields="${platform.code}">
                            </option>
                        </select>
                        <i class="x icon clearBtn" title="清空"></i>
                    </span>
                </div>
            </div>

            <div class="two fields">
                <div class="field required">
                    <label>电商企业：</label>
                    <span class="selectBox">
                        <select id="ebcCode" class="form-select" name="ebcCode"
                                style="width: 150px;height: 24px;">
                            <option value=""></option>
                            <option th:each="merchant : ${merchantList}" th:text="${merchant.name}"
                                    th:selected="${bigJdChannelConfig.ebcCode == merchant.code}"
                                    th:value="${merchant.code}" th:otherFields="${merchant.code}">
                            </option>
                        </select>
                        <i class="x icon clearBtn" title="清空"></i>
                    </span>
                </div>
                <div class="field required">
                    <label>物流企业：</label>
                    <span class="selectBox">
                        <select id="logisticsCode" class="form-select" name="logisticsCode"
                                style="width: 150px;height: 24px;">
                            <option value=""></option>
                            <option th:each="logistics : ${logisticsList}" th:text="${logistics.name}"
                                    th:selected="${bigJdChannelConfig.logisticsCode == logistics.code}"
                                    th:value="${logistics.code}" th:otherFields="${logistics.code}">
                            </option>
                        </select>
                        <i class="x icon clearBtn" title="清空"></i>
                    </span>
                </div>
            </div>

            <div class="two fields">
                <div class="field required">
                    <label>第三方平台编码:</label>
                    <input class="easyui-textbox" type="text" name="platformCode" th:value="${bigJdChannelConfig.platformCode}" style="width: 150px;height: 24px;"/>
                </div>
                <div class="field required">
                    <label>店铺编码:</label>
                    <span class="selectBox">
                        <select id="shopCode" class="form-select" name="shopCode"
                                style="width: 150px;height: 24px;">
                            <option value=""></option>
                            <option th:each="store : ${storeList}" th:text="${store.code}"
                                    th:selected="${bigJdChannelConfig.shopCode == store.code}"
                                    th:value="${store.code}" th:otherFields="${store.code}">
                            </option>
                        </select>
                        <i class="x icon clearBtn" title="清空"></i>
                    </span>
                </div>
            </div>

            <div class="two fields">
                <div class="field">
                    <label>备注:</label>
                    <input class="easyui-textbox" type="text" name="remark" th:value="${bigJdChannelConfig.remark}" style="width: 150px;height: 24px;"/>
                </div>
            </div>
        </div>
    </form>
</div>

<script type="application/javascript" th:inline="javascript">
    $().ready(function () {
        cntr.initSelect()
    });
</script>

</body>

</html>
