<!doctype html>
<html lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head th:replace="common/layout::header( ~{::title})">
    <title id="title">京东订单主页面</title>
</head>

<body>
<div class="contentBox">
    <div class="ui fluid container box-form">
        <form class="ui form" id="searchForm" method="post">
            <div class="searchBox">
                <ul>
                    <li>
                        <div class="smallBox">
                            <label>内部订单号</label>
                            <input class="easyui-textbox" name="code" id="code"
                                   style="width:150px;height:24px;">
                        </div>
                    </li>
                    <li>
                        <div class="smallBox">
                            <label>平台订单号</label>
                            <input class="easyui-textbox" name="orderId" id="orderId"
                                   style="width:150px;height:24px;">
                        </div>
                    </li>
                    <li>
                        <div class="smallBox">
                            <label>运单号</label>
                            <input class="easyui-textbox" name="logisticsNo" id="logisticsNo"
                                   style="width:150px;height:24px;">
                        </div>
                    </li>
                    <li>
                        <div class="smallBox">
                            <label>订单状态</label>
                            <span class="selectBox">
                                <select id="status" class="form-select" name="status"
                                        style="width: 150px;height: 24px;">
                                    <option value=""></option>
                                    <option th:each="status : ${T(com.topideal.supplychain.ocp.enums.OrderStatusEnum).values()}"
                                            th:text="${status.desc}" th:value="${status}"></option>
                                </select>
                                <i class="x icon clearBtn" title="清空"></i>
                            </span>
                        </div>
                    </li>
                    <li>
                        <div class="smallBox">
                            <label>系统创建时间</label>
                            <input type="text" id="createTimeStart" name="createTimeStart" th:value="${createTimeStart}"
                                   onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',maxDate:'#F{$dp.$D(\'createTimeEnd\');}'})"
                                   style="width: 150px;height: 24px;"/>
                        </div>
                        <div class="smallBox">
                            <label>抓单ID</label>
                            <span class="selectBox">
                                <select name="grabKey"  class="form-select"  style="width: 150px;height: 24px;">
                                  <option value=""></option>
                                  <option
                                      th:each="grabIdEnum : ${T(com.topideal.supplychain.ocp.enums.GrabIdEnum).values()}"
                                      th:text="${grabIdEnum.desc}" th:value="${grabIdEnum.value}"></option>
                                </select>
                                <i class="x icon clearBtn" th:title="#{button.clear}"></i>
                            </span>
                        </div>
                    </li>
                    <li>
                        <div class="smallBox">
                            <label>至</label>
                            <input type="text" id="createTimeEnd" name="createTimeEnd"
                                   onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',minDate:'#F{$dp.$D(\'createTimeStart\');}'})"
                                   style="width: 150px;height: 24px;"/>
                        </div>
                    </li>
                    <li>
                        <div class="smallBox">
                            <label>订单创建时间从</label>
                            <input type="text" id="orderCreateTimeStart" name="orderCreateTimeStart"
                                   onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',maxDate:'#F{$dp.$D(\'orderCreateTimeEnd\');}'})"
                                   style="width: 150px;height: 24px;"/>
                        </div>
                    </li>
                    <li>
                        <div class="smallBox">
                            <label>至</label>
                            <input type="text" id="orderCreateTimeEnd" name="orderCreateTimeEnd"
                                   onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',minDate:'#F{$dp.$D(\'orderCreateTimeStart\')}'})"
                                   style="width: 150px;height: 24px;"/>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="field" style="margin-top: 10px;text-align: center;">
                <a href="#" class="ui mini primary button form-search"><i class="search icon"></i>查询</a>
                <a href="#" class="ui mini primar grey button form-reset"><i class="undo icon"></i>重置</a>
                <a href="#" id="show_i" onclick="hide()" style="float :right"><i class="angle down icon"></i>显示条件</a>
            </div>

        </form>
    </div>
    <div class="tableBox">
        <table id="tt" striped="true" toolbar="#tb" style="height: 100%;"
               data-options="rownumbers:true">
            <thead>
            <tr>
                <th field="ck" checkbox="true"></th>
                <th field="code" style="width: 180px"  formatter="formatCode">内部订单号</th>
                <th field="orderId" style="width: 150px">平台订单号</th>
                <th field="logisticsNo" style="width: 150px">运单号</th>
                <th field="orderCreateTime" style="width: 150px">订单创建时间</th>
                <th field="createTime" style="width: 150px">系统创建时间</th>
                <th field="status" style="width: 80px">订单状态</th>
                <th field="ieFlag" style="width: 80px">进出口标识</th>
                <th field="customsType" style="width: 150px">海关申报渠道标识</th>
                <th field="logisticsCode" style="width: 100px">物流企业代码</th>
                <th field="orderType" style="width: 100px">运营</th>
                <!--<th field="freight" style="width: 100px">运费</th>
                <th field="freightCurr" style="width: 100px">运费币制</th>
                <th field="tax" style="width: 100px">税款</th>
                <th field="taxCurr" style="width: 100px">税款币制</th>
                <th field="goodInfo" style="width: 100px">商品信息</th>-->
                <!--<th field="insuredFee" style="width: 100px">保费</th>-->
                <!--<th field="recipProName" style="width: 100px">收件人省市区名称</th>
                <th field="recipProCode" style="width: 200px">收件人省市区代码</th>
                <th field="shipperCountryCode" style="width: 100px">发货人所在国家(地区）代码</th>
                <th field="num" style="width: 150px">件数</th>-->
                <th field="venderId" style="width: 100px">商家ID</th>
                <th field="customModel" style="width: 100px">模式</th>
                <th field="ebcCode" style="width: 150px">电商企业备案号</th>
                <th field="ebpCode" style="width: 150px">电商平台备案号</th>
                <th field="ciqbCode" style="width: 80px">国检编码</th>
                <th field="customsCode" style="width: 80px">海关编码</th>
<!--
                <th field="payTransactionId" style="width: 150px">支付交易流水号</th>
-->
                <th field="eclpCode" style="width: 150px">商家事业部编码</th>
                <th field="thirdPlatformCode" style="width: 120px">第三方平台编号</th>
                <th field="thirdPlatformName" style="width: 120px">第三方平台名称</th>
                <th field="grabKey" style="width: 100px">抓单ID</th>
            </tr>
            </thead>
        </table>
    </div>
</div>
<div id="tb" style="display:none;">
    <a shiro:hasPermission="order.jd.catch" class="easyui-linkbutton" plain="true"
       onclick="catchOrder()"><i class="blue cart arrow down icon"></i>单票抓取订单</a>
    <a shiro:hasPermission="order.jd.repush" class="easyui-linkbutton" plain="true"
       onclick="rePush()"><i class="red reply icon"></i>重推订单</a>
</div>
<div id="tv" style="display: none">
    <!--<i shiro:hasPermission="master.platform.edit" class="blue edit outline icon register-tip"
       data-content="编辑参数" style="cursor:pointer" onclick="edit(this)"></i>-->
</div>

<div id="detailDiv"></div>
<div id="modalDiv"></div>

</body>
</html>
<script type="text/javascript">
    /**
     * 查询加载页面
     */
    $(function () {
        var params = getFormJson("#searchForm");
        initSearchHeight();
        $('#tt').datagrid({
            formId: "#searchForm",
            url: basePath + '/orderJd/json',
            method: 'post',
            queryParams: params,
            pagination: true
        });
        $(window).resize();
    });

    /**
     * 重新推送订单
     */
    function rePush() {
        var checkedItems = $('#tt').datagrid('getChecked');
        if (checkedItems.length < 1) {
            tips.alert("请选择需要重推的数据");
            return;
        }
        var ids = [];
        $.each(checkedItems, function (index, item) {
            ids.push(item.id);
        });
        tips.confirm("确认重推选中的数据吗？", function (r) {
            if (r) {
                $.ajax({
                    type: "POST",
                    url: basePath + "/orderJd/rePush",
                    data: {"ids": ids},
                    async: false,
                    success: function (response) {
                        tips.alert(response.message);
                        if (response.flag == "SUCCESS"){
                            $('#tt').datagrid('reload');
                        }
                    }
                })
            }
        });
    }

    /**
     * 订单的点击链接
     */
    function formatCode(value, row, index) {
        var htmlStr = "<a class='hrefCss blue_link' id='showDetail' title='详情'  href='javascript:void(0)' "
            + "onclick=showDetail('" + row.id + "')>"
            + value + "</a>";
        htmlStr = htmlStr + "</br>";
        return htmlStr;
    }

    /**
     * 打开商品详细
     */
    function showDetail(id) {
        $('#detailDiv').dialog({
            title: '【京东】订单明细',
            width: '80%',
            height: '80%',
            closed: false,
            cache: false,
            method: 'post',
            href: basePath + '/orderJd/showDetail/' + id,
            modal: true
        });
    }

    /**
     * 抓单
     */
    function catchOrder() {
        $('#modalDiv').dialog({
            title: "单票抓单",
            width: 450,
            height: 300,
            closed: false,
            cache: false,
            href: basePath + '/orderJd/toCatch',
            modal: true,
            buttons: [{
                text: '确定',
                handler: function () {
                    $("#catchForm").form('submit', {
                        onSubmit: function () {
                            return $(this).form('validate');
                        },
                        success: function (data) {
                            var response = JSON.parse(data)
                            tips.alert(response.message);
                            if (response.flag == "SUCCESS"){
                                $('#tt').datagrid('reload');
                                $('#modalDiv').dialog('close');
                            }
                        }
                    });
                }
            }, {
                text: '取消',
                handler: function () {
                    $('#modalDiv').dialog('close')
                }
            }]
        });
    }

</script>