<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.topideal.supplychain.ocp.order.mapper.OrderPddItemMapper" >
  <resultMap id="BaseResultMap" type="com.topideal.supplychain.ocp.order.model.OrderPddItem" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="order_id" property="orderId" jdbcType="BIGINT" />
    <result column="gnum" property="gnum" jdbcType="INTEGER" />
    <result column="good_id" property="goodId" jdbcType="VARCHAR" />
    <result column="amount" property="amount" jdbcType="INTEGER" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="good_price" property="goodPrice" jdbcType="DECIMAL" />
    <result column="dec_total" property="decTotal" jdbcType="DECIMAL" />
    <result column="total_price" property="totalPrice" jdbcType="DECIMAL" />
    <result column="cop_g_name" property="copGName" jdbcType="VARCHAR" />
    <result column="hs_code" property="hsCode" jdbcType="VARCHAR" />
    <result column="code_ts" property="codeTs" jdbcType="VARCHAR" />
    <result column="nots" property="nots" jdbcType="VARCHAR" />
    <result column="cust_goods_no" property="custGoodsNo" jdbcType="VARCHAR" />
    <result column="ciq_goods_no" property="ciqGoodsNo" jdbcType="VARCHAR" />
    <result column="batch_no" property="batchNo" jdbcType="VARCHAR" />
    <result column="assem_country" property="assemCountry" jdbcType="VARCHAR" />
    <result column="qty_unit" property="qtyUnit" jdbcType="VARCHAR" />
    <result column="spec" property="spec" jdbcType="VARCHAR" />
    <result column="store_strategy_id" property="storeStrategyId" jdbcType="VARCHAR" />
    <result column="production_time" property="productionTime" jdbcType="TIMESTAMP" />
    <result column="exp_date" property="expDate" jdbcType="TIMESTAMP" />
    <result column="owner_code" property="ownerCode" jdbcType="VARCHAR" />
    <result column="virtual_owner" property="virtualOwner" jdbcType="VARCHAR" />
    <result column="brand" property="brand" jdbcType="VARCHAR" />
    <result column="package_type" property="packageType" jdbcType="VARCHAR" />
    <result column="qty1" property="qty1" jdbcType="DECIMAL" />
    <result column="unit1" property="unit1" jdbcType="VARCHAR" />
    <result column="qty2" property="qty2" jdbcType="DECIMAL" />
    <result column="unit2" property="unit2" jdbcType="VARCHAR" />
    <result column="gross_weight" property="grossWeight" jdbcType="DECIMAL" />
    <result column="bar_code" property="barCode" jdbcType="VARCHAR" />
    <result column="currency" property="currency" jdbcType="VARCHAR" />
    <result column="ciq_assem_country" property="ciqAssemCountry" jdbcType="VARCHAR" />
    <result column="g_qty1" property="gQty1" jdbcType="DECIMAL" />
    <result column="g_qty2" property="gQty2" jdbcType="DECIMAL" />
    <result column="net_weight" property="netWeight" jdbcType="DECIMAL" />
    <result column="is_goods_record" property="isGoodsRecord" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="BIGINT" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="BIGINT" />
    <result column="version" property="version" jdbcType="INTEGER" />
    <result column="is_deleted" property="isDeleted" jdbcType="INTEGER" />
    <result column="tenant_id" property="tenantId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, order_id, gnum, good_id, amount, price, good_price, dec_total, total_price, cop_g_name, 
    hs_code, code_ts, nots, cust_goods_no, ciq_goods_no, batch_no, assem_country, qty_unit, 
    spec, store_strategy_id, production_time, exp_date, owner_code, virtual_owner, brand, 
    package_type, qty1, unit1, qty2, unit2, gross_weight, bar_code, currency, ciq_assem_country, 
    g_qty1, g_qty2, net_weight, is_goods_record, create_time, create_by, update_time, 
    update_by, version, is_deleted, tenant_id
  </sql>
  <select id="selectByOrderId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from doc_order_pdd_item
    where order_id = #{orderId,jdbcType=BIGINT}
  </select>

  <update id="updateTax">
    update doc_order_pdd_item set total_price = #{totalPrice}, price =#{price}
    where id = #{id}
  </update>

  <insert id="insertBatch">
    insert into doc_order_pdd_item (order_id, gnum, good_id, amount, price,
      good_price, dec_total, total_price, cop_g_name, hs_code, code_ts,
      nots, cust_goods_no, ciq_goods_no, batch_no, assem_country, qty_unit,
      spec, store_strategy_id, production_time, exp_date, owner_code, virtual_owner,
      brand, package_type, qty1,  unit1, qty2, unit2,
      gross_weight, bar_code, currency, ciq_assem_country, g_qty1, g_qty2,
      net_weight, is_goods_record, create_time
      )
    values
    <foreach collection="list" item="item" separator=",">
    (#{orderId,jdbcType=BIGINT}, #{item.gnum,jdbcType=INTEGER},
      #{item.goodId,jdbcType=VARCHAR}, #{item.amount,jdbcType=INTEGER}, #{item.price,jdbcType=DECIMAL},
      #{item.goodPrice,jdbcType=DECIMAL}, #{item.decTotal,jdbcType=DECIMAL}, #{item.totalPrice,jdbcType=DECIMAL},
      #{item.copGName,jdbcType=VARCHAR}, #{item.hsCode,jdbcType=VARCHAR}, #{item.codeTs,jdbcType=VARCHAR},
      #{item.nots,jdbcType=VARCHAR}, #{item.custGoodsNo,jdbcType=VARCHAR}, #{item.ciqGoodsNo,jdbcType=VARCHAR},
      #{item.batchNo,jdbcType=VARCHAR}, #{item.assemCountry,jdbcType=VARCHAR}, #{item.qtyUnit,jdbcType=VARCHAR},
      #{item.spec,jdbcType=VARCHAR}, #{item.storeStrategyId,jdbcType=VARCHAR}, #{item.productionTime,jdbcType=TIMESTAMP},
      #{item.expDate,jdbcType=TIMESTAMP}, #{item.ownerCode,jdbcType=VARCHAR}, #{item.virtualOwner,jdbcType=VARCHAR},
      #{item.brand,jdbcType=VARCHAR}, #{item.packageType,jdbcType=VARCHAR}, #{item.qty1,jdbcType=DECIMAL},
      #{item.unit1,jdbcType=VARCHAR}, #{item.qty2,jdbcType=DECIMAL}, #{item.unit2,jdbcType=VARCHAR},
      #{item.grossWeight,jdbcType=DECIMAL}, #{item.barCode,jdbcType=VARCHAR}, #{item.currency,jdbcType=VARCHAR},
      #{item.ciqAssemCountry,jdbcType=VARCHAR}, #{item.gQty1,jdbcType=DECIMAL}, #{item.gQty2,jdbcType=DECIMAL},
      #{item.netWeight,jdbcType=DECIMAL}, #{item.isGoodsRecord,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}
      )
    </foreach>
  </insert>
  <update id="update" parameterType="com.topideal.supplychain.ocp.order.model.OrderPddItem" >
    update doc_order_pdd_item
    <set >
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=BIGINT},
      </if>
      <if test="gnum != null" >
        gnum = #{gnum,jdbcType=INTEGER},
      </if>
      <if test="goodId != null" >
        good_id = #{goodId,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="goodPrice != null" >
        good_price = #{goodPrice,jdbcType=DECIMAL},
      </if>
      <if test="decTotal != null" >
        dec_total = #{decTotal,jdbcType=DECIMAL},
      </if>
      <if test="totalPrice != null" >
        total_price = #{totalPrice,jdbcType=DECIMAL},
      </if>
      <if test="copGName != null" >
        cop_g_name = #{copGName,jdbcType=VARCHAR},
      </if>
      <if test="hsCode != null" >
        hs_code = #{hsCode,jdbcType=VARCHAR},
      </if>
      <if test="codeTs != null" >
        code_ts = #{codeTs,jdbcType=VARCHAR},
      </if>
      <if test="nots != null" >
        nots = #{nots,jdbcType=VARCHAR},
      </if>
      <if test="custGoodsNo != null" >
        cust_goods_no = #{custGoodsNo,jdbcType=VARCHAR},
      </if>
      <if test="ciqGoodsNo != null" >
        ciq_goods_no = #{ciqGoodsNo,jdbcType=VARCHAR},
      </if>
      <if test="batchNo != null" >
        batch_no = #{batchNo,jdbcType=VARCHAR},
      </if>
      <if test="assemCountry != null" >
        assem_country = #{assemCountry,jdbcType=VARCHAR},
      </if>
      <if test="qtyUnit != null" >
        qty_unit = #{qtyUnit,jdbcType=VARCHAR},
      </if>
      <if test="spec != null" >
        spec = #{spec,jdbcType=VARCHAR},
      </if>
      <if test="storeStrategyId != null" >
        store_strategy_id = #{storeStrategyId,jdbcType=VARCHAR},
      </if>
      <if test="productionTime != null" >
        production_time = #{productionTime,jdbcType=TIMESTAMP},
      </if>
      <if test="expDate != null" >
        exp_date = #{expDate,jdbcType=TIMESTAMP},
      </if>
      <if test="ownerCode != null" >
        owner_code = #{ownerCode,jdbcType=VARCHAR},
      </if>
      <if test="virtualOwner != null" >
        virtual_owner = #{virtualOwner,jdbcType=VARCHAR},
      </if>
      <if test="brand != null" >
        brand = #{brand,jdbcType=VARCHAR},
      </if>
      <if test="packageType != null" >
        package_type = #{packageType,jdbcType=VARCHAR},
      </if>
      <if test="qty1 != null" >
        qty1 = #{qty1,jdbcType=DECIMAL},
      </if>
      <if test="unit1 != null" >
        unit1 = #{unit1,jdbcType=VARCHAR},
      </if>
      <if test="qty2 != null" >
        qty2 = #{qty2,jdbcType=DECIMAL},
      </if>
      <if test="unit2 != null" >
        unit2 = #{unit2,jdbcType=VARCHAR},
      </if>
      <if test="grossWeight != null" >
        gross_weight = #{grossWeight,jdbcType=DECIMAL},
      </if>
      <if test="barCode != null" >
        bar_code = #{barCode,jdbcType=VARCHAR},
      </if>
      <if test="currency != null" >
        currency = #{currency,jdbcType=VARCHAR},
      </if>
      <if test="ciqAssemCountry != null" >
        ciq_assem_country = #{ciqAssemCountry,jdbcType=VARCHAR},
      </if>
      <if test="gQty1 != null" >
        g_qty1 = #{gQty1,jdbcType=DECIMAL},
      </if>
      <if test="gQty2 != null" >
        g_qty2 = #{gQty2,jdbcType=DECIMAL},
      </if>
      <if test="netWeight != null" >
        net_weight = #{netWeight,jdbcType=DECIMAL},
      </if>
      <if test="isGoodsRecord != null" >
        is_goods_record = #{isGoodsRecord,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=BIGINT},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="tenantId != null" >
        tenant_id = #{tenantId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>