<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.topideal.supplychain.ocp.order.mapper.OrderYouzanTagsMapper" >
  <resultMap id="BaseResultMap" type="com.topideal.supplychain.ocp.order.model.OrderYouzanTags" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="order_id" property="orderId" jdbcType="BIGINT" />
    <result column="is_virtual" property="isVirtual" jdbcType="TINYINT" />
    <result column="is_purchase_order" property="isPurchaseOrder" jdbcType="TINYINT" />
    <result column="is_fenxiao_order" property="isFenxiaoOrder" jdbcType="TINYINT" />
    <result column="is_member" property="isMember" jdbcType="TINYINT" />
    <result column="is_preorder" property="isPreorder" jdbcType="TINYINT" />
    <result column="is_offline_order" property="isOfflineOrder" jdbcType="TINYINT" />
    <result column="is_multi_store" property="isMultiStore" jdbcType="TINYINT" />
    <result column="is_settle" property="isSettle" jdbcType="TINYINT" />
    <result column="is_payed" property="isPayed" jdbcType="TINYINT" />
    <result column="is_secured_transactions" property="isSecuredTransactions" jdbcType="TINYINT" />
    <result column="is_postage_free" property="isPostageFree" jdbcType="TINYINT" />
    <result column="is_feedback" property="isFeedback" jdbcType="TINYINT" />
    <result column="is_refund" property="isRefund" jdbcType="TINYINT" />
    <result column="is_down_payment_pre" property="isDownPaymentPre" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, order_id, is_virtual, is_purchase_order, is_fenxiao_order, is_member, is_preorder, 
    is_offline_order, is_multi_store, is_settle, is_payed, is_secured_transactions, is_postage_free, 
    is_feedback, is_refund, is_down_payment_pre
  </sql>
  <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from doc_order_youzan_tags
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectByOrderId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from doc_order_youzan_tags
    where order_id = #{orderId,jdbcType=BIGINT}
  </select>

  <delete id="deleteById" parameterType="java.lang.Long" >
    delete from doc_order_youzan_tags
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="insert" parameterType="com.topideal.supplychain.ocp.order.model.OrderYouzanTags" >
    insert into doc_order_youzan_tags
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="isVirtual != null" >
        is_virtual,
      </if>
      <if test="isPurchaseOrder != null" >
        is_purchase_order,
      </if>
      <if test="isFenxiaoOrder != null" >
        is_fenxiao_order,
      </if>
      <if test="isMember != null" >
        is_member,
      </if>
      <if test="isPreorder != null" >
        is_preorder,
      </if>
      <if test="isOfflineOrder != null" >
        is_offline_order,
      </if>
      <if test="isMultiStore != null" >
        is_multi_store,
      </if>
      <if test="isSettle != null" >
        is_settle,
      </if>
      <if test="isPayed != null" >
        is_payed,
      </if>
      <if test="isSecuredTransactions != null" >
        is_secured_transactions,
      </if>
      <if test="isPostageFree != null" >
        is_postage_free,
      </if>
      <if test="isFeedback != null" >
        is_feedback,
      </if>
      <if test="isRefund != null" >
        is_refund,
      </if>
      <if test="isDownPaymentPre != null" >
        is_down_payment_pre,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=BIGINT},
      </if>
      <if test="isVirtual != null" >
        #{isVirtual,jdbcType=TINYINT},
      </if>
      <if test="isPurchaseOrder != null" >
        #{isPurchaseOrder,jdbcType=TINYINT},
      </if>
      <if test="isFenxiaoOrder != null" >
        #{isFenxiaoOrder,jdbcType=TINYINT},
      </if>
      <if test="isMember != null" >
        #{isMember,jdbcType=TINYINT},
      </if>
      <if test="isPreorder != null" >
        #{isPreorder,jdbcType=TINYINT},
      </if>
      <if test="isOfflineOrder != null" >
        #{isOfflineOrder,jdbcType=TINYINT},
      </if>
      <if test="isMultiStore != null" >
        #{isMultiStore,jdbcType=TINYINT},
      </if>
      <if test="isSettle != null" >
        #{isSettle,jdbcType=TINYINT},
      </if>
      <if test="isPayed != null" >
        #{isPayed,jdbcType=TINYINT},
      </if>
      <if test="isSecuredTransactions != null" >
        #{isSecuredTransactions,jdbcType=TINYINT},
      </if>
      <if test="isPostageFree != null" >
        #{isPostageFree,jdbcType=TINYINT},
      </if>
      <if test="isFeedback != null" >
        #{isFeedback,jdbcType=TINYINT},
      </if>
      <if test="isRefund != null" >
        #{isRefund,jdbcType=TINYINT},
      </if>
      <if test="isDownPaymentPre != null" >
        #{isDownPaymentPre,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateById" parameterType="com.topideal.supplychain.ocp.order.model.OrderYouzanTags" >
    update doc_order_youzan_tags
    <set >
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=BIGINT},
      </if>
      <if test="isVirtual != null" >
        is_virtual = #{isVirtual,jdbcType=TINYINT},
      </if>
      <if test="isPurchaseOrder != null" >
        is_purchase_order = #{isPurchaseOrder,jdbcType=TINYINT},
      </if>
      <if test="isFenxiaoOrder != null" >
        is_fenxiao_order = #{isFenxiaoOrder,jdbcType=TINYINT},
      </if>
      <if test="isMember != null" >
        is_member = #{isMember,jdbcType=TINYINT},
      </if>
      <if test="isPreorder != null" >
        is_preorder = #{isPreorder,jdbcType=TINYINT},
      </if>
      <if test="isOfflineOrder != null" >
        is_offline_order = #{isOfflineOrder,jdbcType=TINYINT},
      </if>
      <if test="isMultiStore != null" >
        is_multi_store = #{isMultiStore,jdbcType=TINYINT},
      </if>
      <if test="isSettle != null" >
        is_settle = #{isSettle,jdbcType=TINYINT},
      </if>
      <if test="isPayed != null" >
        is_payed = #{isPayed,jdbcType=TINYINT},
      </if>
      <if test="isSecuredTransactions != null" >
        is_secured_transactions = #{isSecuredTransactions,jdbcType=TINYINT},
      </if>
      <if test="isPostageFree != null" >
        is_postage_free = #{isPostageFree,jdbcType=TINYINT},
      </if>
      <if test="isFeedback != null" >
        is_feedback = #{isFeedback,jdbcType=TINYINT},
      </if>
      <if test="isRefund != null" >
        is_refund = #{isRefund,jdbcType=TINYINT},
      </if>
      <if test="isDownPaymentPre != null" >
        is_down_payment_pre = #{isDownPaymentPre,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

</mapper>