<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.topideal.supplychain.ocp.order.mapper.OrderBigItemMapper" >
  <resultMap id="BaseResultMap" type="com.topideal.supplychain.ocp.order.model.OrderBigItem" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="main_id" property="mainId" jdbcType="BIGINT" />
    <result column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="gnum" property="gnum" jdbcType="INTEGER" />
    <result column="good_id" property="goodId" jdbcType="VARCHAR" />
    <result column="bar_code" property="barCode" jdbcType="VARCHAR" />
    <result column="amount" property="amount" jdbcType="INTEGER" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="good_price" property="goodPrice" jdbcType="DECIMAL" />
    <result column="cop_g_name" property="copGName" jdbcType="VARCHAR" />
    <result column="hs_code" property="hsCode" jdbcType="VARCHAR" />
    <result column="dec_total" property="decTotal" jdbcType="DECIMAL" />
    <result column="nots" property="nots" jdbcType="VARCHAR" />
    <result column="cust_goods_no" property="custGoodsNo" jdbcType="VARCHAR" />
    <result column="ciq_goods_no" property="ciqGoodsNo" jdbcType="VARCHAR" />
    <result column="batch_no" property="batchNo" jdbcType="VARCHAR" />
    <result column="assem_country" property="assemCountry" jdbcType="VARCHAR" />
    <result column="ciq_assem_country" property="ciqAssemCountry" jdbcType="VARCHAR" />
    <result column="qty_unit" property="qtyUnit" jdbcType="VARCHAR" />
    <result column="spec" property="spec" jdbcType="VARCHAR" />
    <result column="store_strategy_id" property="storeStrategyId" jdbcType="VARCHAR" />
    <result column="production_time" property="productionTime" jdbcType="TIMESTAMP" />
    <result column="exp_date" property="expDate" jdbcType="TIMESTAMP" />
    <result column="owner_code" property="ownerCode" jdbcType="VARCHAR" />
    <result column="virtual_owner" property="virtualOwner" jdbcType="VARCHAR" />
    <result column="code_ts" property="codeTs" jdbcType="VARCHAR" />
    <result column="brand" property="brand" jdbcType="VARCHAR" />
    <result column="package_type" property="packageType" jdbcType="VARCHAR" />
    <result column="qty1" property="qty1" jdbcType="DECIMAL" />
    <result column="g_qty1" property="gQty1" jdbcType="DECIMAL" />
    <result column="unit1" property="unit1" jdbcType="VARCHAR" />
    <result column="qty2" property="qty2" jdbcType="DECIMAL" />
    <result column="g_qty2" property="gQty2" jdbcType="DECIMAL" />
    <result column="unit2" property="unit2" jdbcType="VARCHAR" />
    <result column="gross_weight" property="grossWeight" jdbcType="DECIMAL" />
    <result column="net_weight" property="netWeight" jdbcType="DECIMAL" />
    <result column="currency" property="currency" jdbcType="VARCHAR" />
    <result column="is_goods_record" property="isGoodsRecord" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, main_id, order_id, gnum, good_id, bar_code, amount, price, good_price, cop_g_name, hs_code,
    dec_total, nots, cust_goods_no, ciq_goods_no, batch_no, assem_country, ciq_assem_country, 
    qty_unit, spec, store_strategy_id, production_time, exp_date, owner_code, virtual_owner, 
    code_ts, brand, package_type, qty1, g_qty1, unit1, qty2, g_qty2, unit2, gross_weight, 
    net_weight, currency, is_goods_record, create_by, create_time
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from doc_order_big_item
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectByMainId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from doc_order_big_item
    where main_id = #{main_Id,jdbcType=BIGINT}
  </select>

  <select id="selectByOrderId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from doc_order_big_item
    where order_id = #{orderId,jdbcType=VARCHAR}
  </select>

  <delete id="delete" parameterType="java.lang.Long" >
    delete from doc_order_big_item
    where id = #{id,jdbcType=BIGINT}
  </delete>

<insert id="insertBatch">
    insert into doc_order_big_item (main_id, order_id, gnum,
        good_id, bar_code, amount,
        price, good_price, cop_g_name,
        hs_code, dec_total, nots,
        cust_goods_no, ciq_goods_no, batch_no,
        assem_country, ciq_assem_country, qty_unit,
        spec, store_strategy_id, production_time,
        exp_date, owner_code, virtual_owner,
        code_ts, brand, package_type,
        qty1, g_qty1, unit1,
        qty2, g_qty2, unit2,
        gross_weight, net_weight, currency,
        is_goods_record, create_by, create_time)
    values
    <foreach collection="goods" item="good" separator=",">
        (#{good.mainId,jdbcType=BIGINT}, #{good.orderId,jdbcType=VARCHAR}, #{good.gnum,jdbcType=INTEGER},
        #{good.goodId,jdbcType=VARCHAR}, #{good.barCode,jdbcType=VARCHAR}, #{good.amount,jdbcType=INTEGER},
        #{good.price,jdbcType=DECIMAL}, #{good.goodPrice,jdbcType=DECIMAL}, #{good.copGName,jdbcType=VARCHAR},
        #{good.hsCode,jdbcType=VARCHAR}, #{good.decTotal,jdbcType=DECIMAL}, #{good.nots,jdbcType=VARCHAR},
        #{good.custGoodsNo,jdbcType=VARCHAR}, #{good.ciqGoodsNo,jdbcType=VARCHAR}, #{good.batchNo,jdbcType=VARCHAR},
        #{good.assemCountry,jdbcType=VARCHAR}, #{good.ciqAssemCountry,jdbcType=VARCHAR}, #{good.qtyUnit,jdbcType=VARCHAR},
        #{good.spec,jdbcType=VARCHAR}, #{good.storeStrategyId,jdbcType=VARCHAR}, #{good.productionTime,jdbcType=TIMESTAMP},
        #{good.expDate,jdbcType=TIMESTAMP}, #{good.ownerCode,jdbcType=VARCHAR}, #{good.virtualOwner,jdbcType=VARCHAR},
        #{good.codeTs,jdbcType=VARCHAR}, #{good.brand,jdbcType=VARCHAR}, #{good.packageType,jdbcType=VARCHAR},
        #{good.qty1,jdbcType=DECIMAL}, #{good.gQty1,jdbcType=DECIMAL}, #{good.unit1,jdbcType=VARCHAR},
        #{good.qty2,jdbcType=DECIMAL}, #{good.gQty2,jdbcType=DECIMAL}, #{good.unit2,jdbcType=VARCHAR},
        #{good.grossWeight,jdbcType=DECIMAL}, #{good.netWeight,jdbcType=DECIMAL}, #{good.currency,jdbcType=VARCHAR},
        #{good.isGoodsRecord,jdbcType=VARCHAR}, #{good.createBy,jdbcType=BIGINT}, #{good.createTime,jdbcType=TIMESTAMP})
    </foreach>
</insert>

  <insert id="insert" parameterType="com.topideal.supplychain.ocp.order.model.OrderBigItem" >
    insert into doc_order_big_item (main_id, order_id, gnum,
      good_id, bar_code, amount, 
      price, good_price, cop_g_name, 
      hs_code, dec_total, nots, 
      cust_goods_no, ciq_goods_no, batch_no, 
      assem_country, ciq_assem_country, qty_unit, 
      spec, store_strategy_id, production_time, 
      exp_date, owner_code, virtual_owner, 
      code_ts, brand, package_type, 
      qty1, g_qty1, unit1, 
      qty2, g_qty2, unit2, 
      gross_weight, net_weight, currency, 
      is_goods_record, create_by, create_time)
    values (#{mainId,jdbcType=BIGINT}, #{orderId,jdbcType=VARCHAR}, #{gnum,jdbcType=INTEGER},
      #{goodId,jdbcType=VARCHAR}, #{barCode,jdbcType=VARCHAR}, #{amount,jdbcType=INTEGER}, 
      #{price,jdbcType=DECIMAL}, #{goodPrice,jdbcType=DECIMAL}, #{copGName,jdbcType=VARCHAR}, 
      #{hsCode,jdbcType=VARCHAR}, #{decTotal,jdbcType=DECIMAL}, #{nots,jdbcType=VARCHAR}, 
      #{custGoodsNo,jdbcType=VARCHAR}, #{ciqGoodsNo,jdbcType=VARCHAR}, #{batchNo,jdbcType=VARCHAR}, 
      #{assemCountry,jdbcType=VARCHAR}, #{ciqAssemCountry,jdbcType=VARCHAR}, #{qtyUnit,jdbcType=VARCHAR}, 
      #{spec,jdbcType=VARCHAR}, #{storeStrategyId,jdbcType=VARCHAR}, #{productionTime,jdbcType=TIMESTAMP}, 
      #{expDate,jdbcType=TIMESTAMP}, #{ownerCode,jdbcType=VARCHAR}, #{virtualOwner,jdbcType=VARCHAR}, 
      #{codeTs,jdbcType=VARCHAR}, #{brand,jdbcType=VARCHAR}, #{packageType,jdbcType=VARCHAR}, 
      #{qty1,jdbcType=DECIMAL}, #{gQty1,jdbcType=DECIMAL}, #{unit1,jdbcType=VARCHAR},
      #{qty2,jdbcType=DECIMAL}, #{gQty2,jdbcType=DECIMAL}, #{unit2,jdbcType=VARCHAR},
      #{grossWeight,jdbcType=DECIMAL}, #{netWeight,jdbcType=DECIMAL}, #{currency,jdbcType=VARCHAR}, 
      #{isGoodsRecord,jdbcType=VARCHAR}, #{createBy,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP})
  </insert>

  <update id="update" parameterType="com.topideal.supplychain.ocp.order.model.OrderBigItem" >
    update doc_order_big_item
    <set >
      <if test="mainId != null" >
          main_id = #{mainId,jdbcType=BIGINT},
      </if>
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="gnum != null" >
        gnum = #{gnum,jdbcType=INTEGER},
      </if>
      <if test="goodId != null" >
        good_id = #{goodId,jdbcType=VARCHAR},
      </if>
      <if test="barCode != null" >
        bar_code = #{barCode,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="goodPrice != null" >
        good_price = #{goodPrice,jdbcType=DECIMAL},
      </if>
      <if test="copGName != null" >
        cop_g_name = #{copGName,jdbcType=VARCHAR},
      </if>
      <if test="hsCode != null" >
        hs_code = #{hsCode,jdbcType=VARCHAR},
      </if>
      <if test="decTotal != null" >
        dec_total = #{decTotal,jdbcType=DECIMAL},
      </if>
      <if test="nots != null" >
        nots = #{nots,jdbcType=VARCHAR},
      </if>
      <if test="custGoodsNo != null" >
        cust_goods_no = #{custGoodsNo,jdbcType=VARCHAR},
      </if>
      <if test="ciqGoodsNo != null" >
        ciq_goods_no = #{ciqGoodsNo,jdbcType=VARCHAR},
      </if>
      <if test="batchNo != null" >
        batch_no = #{batchNo,jdbcType=VARCHAR},
      </if>
      <if test="assemCountry != null" >
        assem_country = #{assemCountry,jdbcType=VARCHAR},
      </if>
      <if test="ciqAssemCountry != null" >
        ciq_assem_country = #{ciqAssemCountry,jdbcType=VARCHAR},
      </if>
      <if test="qtyUnit != null" >
        qty_unit = #{qtyUnit,jdbcType=VARCHAR},
      </if>
      <if test="spec != null" >
        spec = #{spec,jdbcType=VARCHAR},
      </if>
      <if test="storeStrategyId != null" >
        store_strategy_id = #{storeStrategyId,jdbcType=VARCHAR},
      </if>
      <if test="productionTime != null" >
        production_time = #{productionTime,jdbcType=TIMESTAMP},
      </if>
      <if test="expDate != null" >
        exp_date = #{expDate,jdbcType=TIMESTAMP},
      </if>
      <if test="ownerCode != null" >
        owner_code = #{ownerCode,jdbcType=VARCHAR},
      </if>
      <if test="virtualOwner != null" >
        virtual_owner = #{virtualOwner,jdbcType=VARCHAR},
      </if>
      <if test="codeTs != null" >
        code_ts = #{codeTs,jdbcType=VARCHAR},
      </if>
      <if test="brand != null" >
        brand = #{brand,jdbcType=VARCHAR},
      </if>
      <if test="packageType != null" >
        package_type = #{packageType,jdbcType=VARCHAR},
      </if>
      <if test="qty1 != null" >
        qty1 = #{qty1,jdbcType=DECIMAL},
      </if>
      <if test="gQty1 != null" >
        g_qty1 = #{gQty1,jdbcType=DECIMAL},
      </if>
      <if test="unit1 != null" >
        unit1 = #{unit1,jdbcType=VARCHAR},
      </if>
      <if test="qty2 != null" >
        qty2 = #{qty2,jdbcType=DECIMAL},
      </if>
      <if test="gQty2 != null" >
        g_qty2 = #{gQty2,jdbcType=DECIMAL},
      </if>
      <if test="unit2 != null" >
        unit2 = #{unit2,jdbcType=VARCHAR},
      </if>
      <if test="grossWeight != null" >
        gross_weight = #{grossWeight,jdbcType=DECIMAL},
      </if>
      <if test="netWeight != null" >
        net_weight = #{netWeight,jdbcType=DECIMAL},
      </if>
      <if test="currency != null" >
        currency = #{currency,jdbcType=VARCHAR},
      </if>
      <if test="isGoodsRecord != null" >
        is_goods_record = #{isGoodsRecord,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

</mapper>